.link-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin: 2rem 6rem;
}

.toggle-button {
  flex: 1;
  width: 80px;
  align-self: flex-end;
  margin-right: 2rem;
  font-size: 1rem;
}
