.card-container {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem 0;
}

.card-favicon {
  height: 25px;
  width: 25px;
  padding-left: 1rem;
}

.card-title {
  flex: 2;
  text-align: center;
  text-transform: capitalize;
}

.card-url {
  flex: 3;
  text-align: center;
}

.card-button {
  flex: 1;
  width: 70px;
}
